<h1 class="title">Find your meal for ingredients</h1>
<blockquote>"Let food be thy medicine and medicine be thy food" - Hippocrates</blockquote>

<!-- <div class="search-box">
        <input class="input" id="search-input" type="text">
        <button class="button">
            <i style="color:#fff" class="fas fa-search fa-2x"></i>
        </button>
    </div>
    <select name="" id="">
        <option value="">Find by category</option>
    </select> -->

<form id="form">
    <input class=" input inputsec" id="input" type="text" placeholder="Search">
    <select class="select-filt input" id="filter__select">
        <option value="hammasi">All</option>
        <option value="aa__zz">Aa__Zz</option>
        <option value="zz__aa">Zz__Aa</option>
    </select>
    <button class="btn input">Button</button>
</form>

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <% if(categories != "") { %>
    <% categories.forEach(function(category, index) { %>
    <a href="#" class="col text-center category_link">
        <div class="category_image shadow">
            <img src="/img/<%- category.image %>" alt="" loading="lazy">
        </div>
        <p class="pt-1"><%- category.title%></p>
    </a>
    <% }) %>
    <% } %>

    <a href="/api/categories" class="col text-center category_link">
        <div class="category_image shadow">
            <img src="/img/view-all.jpg" alt="" loading="lazy">
        </div>
        <p class="pt-1">View All</p>
    </a>
</div>